<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>50 Projects 50 Days</title>
    <style>
      .footer {
        display: block;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div>
      <ul>
        <% projectsInfo.forEach((info) => { %>
        <li>
          <a href="./<%= info.path %>"><%= info.title %></a>
        </li>
        <% }); %>
      </ul>
      <div class="footer">
        <a href="https://github.com/Debbl/50projects50days">
          <img src="./github.svg" alt="github" />
        </a>
      </div>
    </div>
  </body>
</html>
