<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>50 Projects 50 Days</title>
    <style>
      a {
        all: unset;
        color: gray;
        cursor: pointer;
      }
      a:hover {
        transform: scale(1.1);
        color: #000;
        text-decoration: underline;
      }
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
      }
      .footer {
        display: block;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <main>
      <nav>
        <ol>
          <% projectsInfo.forEach((info) => { %>
          <li>
            <a href="./<%= info.path %>"><%= info.title %></a>
          </li>
          <% }); %>
        </ol>
      </nav>
      <footer class="footer">
        <a href="https://github.com/Debbl/50projects50days">
          <img src="./github.svg" alt="github" />
        </a>
      </footer>
    </main>
  </body>
</html>
